aiohappyeyeballs
aiohttp
aiosignal
anyio
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
async-timeout
attrs
babel
beautifulsoup4
bleach
Bottleneck
Brotli
brotlicffi
certifi
cffi
charset-normalizer
comm
contourpy
cycler
datasets
debugpy
decorator
defusedxml
dill
et-xmlfile==1.1.0
exceptiongroup
executing
fastjsonschema
filelock
fonttools
frozenlist
fsspec
gmpy2
graphviz==0.21
h11
httpcore
httpx
huggingface_hub
idna
ipykernel
ipython
ipywidgets==8.1.8
jedi
Jinja2
json5
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets==3.0.16
kiwisolver
lxml
MarkupSafe
matplotlib==3.10.0
matplotlib-inline
micrograd==0.1.0
mistune
# mkl-fft
# mkl-random
# mkl-service==2.4.0
mpmath
multidict
multiprocess
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook_shim
numexpr
numpy
openpyxl
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
prometheus_client
prompt-toolkit
propcache
psutil
ptyprocess
pure-eval
pyarrow
pycparser
Pygments
pyparsing
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rpds-py
safetensors
Send2Trash
sentencepiece==0.2.1
six
sniffio
soupsieve
stack-data
sympy
terminado
tiktoken==0.12.0
tinycss2
tokenizers
tomli
torch==2.2.2
tornado
tqdm
traitlets
transformers
typing_extensions
tzdata
unicodedata2
urllib3
wcwidth
webencodings==0.5.1
websocket-client
widgetsnbextension==4.0.15
xxhash
yarl
